In [1]:
import numpy as np

In [8]:
a = np.array([1,2,3])
a.ndim
a.shape
a.shape
type(a)

numpy.ndarray

In [9]:
ifile = open('py4e.txt')
match = []
for line in ifile:
    line.rstrip()
    line_list = line.split()
    for item in line_list:
        try:
            a = int(item)
            match.append(a)
        except:
            continue
suma = 0
for num in match:
    suma += num
print(suma)
print(len(match))

358939
83

In [10]:
import re
ifile = open('py4e.txt')
abc = 0
for line in ifile:
    df = re.findall('[0-9]+',line)
for li in df:
    a = int(li)
    abc += a
print(abc)

0

In [1]:
for i in range(5):
    print(i)

0
1
2
3
4

In [2]:
names = []
for i in range(5):
    a = input("Enter a name: ")
    names.append(a)
print(names)

Enter a name: Satheesh
Enter a name: Nivas
Enter a name: Santhanam
Enter a name: Suresh
Enter a name: Venkatesh
['Satheesh', 'Nivas', 'Santhanam', 'Suresh', 'Venkatesh']

In [3]:
names[0]

'Satheesh'

In [4]:
names[-1]

'Venkatesh'

In [6]:
type(names[0])

str

In [7]:
names.append("Santhosh")

In [8]:
print(names)

['Satheesh', 'Nivas', 'Santhanam', 'Suresh', 'Venkatesh', 'Santhosh']

In [13]:
a = "Hello"
b = 2
type(b)

int

In [15]:
a = 'hello'
type(a)

str

In [1]:
import socket